.hero {
  max-width: 100%;
  height: 100%;
  padding: 70px 17px 0 17px;
  background-color: #242424;
}
.hero__title {
  width: 100%;
  height: 100%;
  padding: 75px 0 0;
}
.hero__subtitle {
  padding: 23px 0 0;
}
.hero__button {
  width: 100%;
  height: 100;
  padding: 12px 10px;
  margin: 51px 0 0;
  background: #0A9A67;
  color: #ffffff;
  border-radius: 7px;
}
.social-group {
  width: 70%;
  height: 100%;
  padding: 120px 0 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.soc-media-info {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.soc-media-info:first-child {
 padding: 0 0 11px;
 border-bottom: 1px solid #ffffff;
}
.soc-media-info:last-child {
  padding: 11px 0 32px;
}
.soc-media-info__link {
  display: grid;
  justify-items: start;
  color: #ffffff;
}
